.character__container {
  height:80vh;
  overflow:scroll;
}
.div__image {
  align-self:center;
  height:262px;
  width:480px
}

.loading__text {
  color:white;
  text-shadow: 3px 4px 4px rgba(23, 6, 1, 0.94);
  font-size: 1.5em;
  font-family: 'Barlow Condensed', sans-serif;
  align-items: center;
  background-color: rgba(67, 52, 45, 0.7)
}


.character__container {
  border:1px solid  rgba(67, 52, 45, 0.7);
  width: 85%;
  align-self:center;
}