.character__container {
  height:80vh;
  overflow:scroll;
}

.div__image {
  align-self:center;
  height:262px;
  width:480px
}

.loading__text {
  color:rgba(67, 52, 45, 0.7);
  text-shadow: 1px 2px 3px rgba(23, 6, 1, 0.94);
  font-size: 1.7em;
  font-family: 'Barlow Condensed', sans-serif;
  align-items: center;
}

.character__container {
  border:1px solid  rgba(67, 52, 45, 0.7);
  width: 85%;
  align-self:center;
}