.user__box {
    align-items: center;
    background-color: rgba(67, 52, 45, 0.7);
    color: white;
    display: flex;
    font-family: 'Barlow Condensed', sans-serif;
    flex-direction: row;
    font-size: 1.5em;
    justify-content: space-evenly;
    height: 15vh;
    margin-left: 7%;
    text-shadow: 3px 4px 4px rgba(23, 6, 1, 0.94);
    width: 85%
}

.box__ends {
    font-size: 1.7em;
}

.sign-out__button {
    color: white;
    font-size: .7em;
    height: 30%;
    width: 10%;
    border-radius: 5%;
    box-shadow: 0 10px 6px -6px rgba(67, 52, 45, 0.7);
    background-color:rgb(223, 213, 207);
    margin-top: 15px;
    cursor: pointer;
}