* {
box-sizing: border-box;
margin:0;
padding:0;
}

.App {
  background-image: url('../images/tatooinesunset.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: .3em;
  justify-content: space-around;
  height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
