.fav__character__btn {
  height:70px;
}

.favorite__h2 {
  font-family: 'SpaceMeatballRegular';
  font-size: 3em;
  font-style: normal;
  font-weight: normal;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
  margin:0 auto;
}

.favorite__h3 {
  color:rgb(194, 0, 0);
  font-family: 'SpaceMeatballRegular';
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
  margin:0 auto;
}