.movie-card {
    background-color: rgba(69, 141, 150, 0.77);
    flex-wrap: wrap;
    margin: 1.5%;
    opacity: 1;
    width: 17%;
}

.characters-button {
    background-color: rgba(62, 110, 116, 0.99);
    box-shadow: 0 10px 6px -6px #777;
    color: white;
}