.movie__card {
    background-color: rgba(69, 141, 150, 0.77);
    border-radius: 5px;
    margin: 1.5%;
    opacity: 1;
    flex-direction: column;
    display: flex;
    min-width: 26vh;
    padding: 4px;
    justify-content: space-evenly;
    height:48vh;
}

.card__title {
    height:100px;
    font-family: 'SpaceMeatballRegular';
    font-weight: normal;
    font-style: normal;
    text-shadow: 3px 4px 4px rgba(23, 6, 1, 0.94)
}

.card__episode {
    height:60px;
}

.card__release {
    height:60px;
}

.characters__button {
    background-color: rgba(62, 110, 116, 0.99);
    border: none;
    border-radius: 5px;
    box-shadow: 0 10px 6px -6px rgba(41, 72, 76, 0.99);
    color: white;
    font-size: 1em;
    width: 100%;
    height:60px;
    margin-bottom: 20px;
}